<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xh3140.metrology">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_metrology_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup"
        tools:replace="android:label">
        <activity android:name=".appliance.ApplianceActivity" />
        <activity
            android:name=".calculate.CalculateActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name="com.xh3140.metrology.appliance.jjg.jjgn961y2017.JJGN961Y2017Activity" />
        <activity android:name="com.xh3140.metrology.appliance.jjg.jjgn1078y2012.JJGN1078Y2012Activity" />
        <activity android:name="com.xh3140.metrology.appliance.jjg.JJGGZ162018Activity" />
        <activity android:name="com.xh3140.metrology.appliance.jjg.MrHomogeneityActivity" />
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>