<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xh3140.metrology">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_metrology_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup"
        tools:replace="android:label">
        <activity android:name=".appliance.IndexActivity"></activity>
        <activity
            android:name=".calculate.CalculateActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".jjg.JJGActivity" />
        <activity android:name=".jjg.jjg9612017.JJG9612017Activity" />
        <activity android:name=".jjg.JJGGZ162018Activity" />
        <activity android:name=".jjg.MrHomogeneityActivity" />
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>